*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--theme-color-2);
    transition: all 0.2s;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-overflow: ellipsis;
    -webkit-tap-highlight-color: transparent;
}

:root {
    --theme-color-1: #333;
    --theme-color-2: #FFF;
    --theme-color-3: #555;
    --theme-color-4: #222;
}

@media (prefers-reduced-motion) {

    *,
    *::before,
    *::after {
        transition: none !important;
    }
}

input {
    display: none;
}

button,
label {
    cursor: pointer;
}

body {
    background-color: var(--theme-color-4);
    touch-action: none;
    overflow: hidden;
}

nav {
    position: fixed;
    left: 0;
    width: 100svw;
    height: 100svh;
    display: grid;
    grid-auto-rows: 50px;
    gap: 10px;
    padding: calc(10px + env(safe-area-inset-top)) calc(10px + env(safe-area-inset-right)) 10px calc(10px + env(safe-area-inset-left));
    overflow-y: auto;

    &>* {
        background-color: var(--theme-color-1);
        border-radius: 10px;
        border: 1px solid var(--theme-color-3);
        box-shadow: #111 0 5px 5px;
        display: flex;
        align-items: center;
        padding-left: 15px;
        font-size: 16px;
    }
}

section {
    position: fixed;
    left: 100svw;
    width: 100svw;
    height: 100svh;
    display: grid;
    grid-template-rows: calc(50px + env(safe-area-inset-top)) auto;
    background-color: var(--theme-color-4);
}

#navigation-toggle:checked {
    &~nav {
        left: -100svw;
        ;
    }

    &~section {
        left: 0;
    }
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 5px;
    background-color: var(--theme-color-1);
    border-bottom: 1px solid var(--theme-color-3);
    padding-top: env(safe-area-inset-top);
    padding: env(safe-area-inset-top) env(safe-area-inset-right) 0 env(safe-area-inset-left);

    &>label {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;

        &::after {
            content: "";
            display: block;
            width: 60%;
            height: 60%;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024' fill='%23DDD'%3E%3Cpath d='M224 480h640a32 32 0 1 1 0 64H224a32 32 0 0 1 0-64z'/%3E%3Cpath d='m237.248 512 265.408 265.344a32 32 0 0 1-45.312 45.312l-288-288a32 32 0 0 1 0-45.312l288-288a32 32 0 1 1 45.312 45.312L237.248 512z'/%3E%3C/svg%3E%0A");
        }
    }
}

h1 {
    font-size: 20px;
    font-weight: normal;
    text-wrap: nowrap;
    overflow: hidden;
}

main {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    width: 100svw;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    gap: 40px;
    padding: 100px calc(20px + env(safe-area-inset-right)) 100px calc(20px + env(safe-area-inset-left));
    scrollbar-width: none;
    isolation: isolate;
}

/* using pseudo elements to not mirrored text when flipped */
button {
    flex: 0 0 calc(100svw - 40px - env(safe-area-inset-right) - env(safe-area-inset-left));
    scroll-snap-align: center;
    position: relative;
    background-color: #0000;
    border: none;

    &::before,
    &::after {
        position: absolute;
        inset: 0;
        font-size: 20px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        backface-visibility: hidden;
        border: 1px solid var(--theme-color-3);
        border-radius: 20px;
        box-shadow: #000 0 15px 25px;
        white-space: break-spaces;
    }

    &::before {
        content: attr(data-front);
        background-color: var(--theme-color-4);
    }

    &::after {
        content: attr(data-back);
        background-color: var(--theme-color-1);
        transform: rotateY(180deg);
    }
}

button.flip {
    &::before {
        transform: rotateY(180deg);
    }

    &::after {
        transform: rotateY(0deg);
        content: attr(data-back);
    }
}

footer {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    z-index: -1;
    position: relative;
}

#progress {
    --completed-count: 0;

    position: absolute;
    top: 10px;
    left: calc((100svw - 100px) / 2);
    width: 100px;
    height: 20px;
    background: linear-gradient(90deg, #AE3, calc(100% * mod(var(--completed-count), 6) / 5), #FFF 0);
    transition: all 0.2s;
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Ccircle cx='10' cy='10' r='8' fill='%23000' /%3E%3C/svg%3E");
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Ccircle cx='10' cy='10' r='8' fill='%23000' /%3E%3C/svg%3E");
}
